#wrap button { width:62px; height:33px; float:left;}
#wrap div { width:245px; height:280px;
             background:rgba(255,255,0,0.3);
			 border:1px solid #888; border-radius:5px;			 
             }
#wrap p { font:16px/1.4em 微软雅黑; color:#333; 
           text-indent:2em; letter-spacing:1px;
		   margin:0px; padding:7px 3px 5px 7px;
		  }
.btnActive { background:rgba(0,255,0,.3);
             font-weight:900;
              color:#030;}
.divHide { display:none;}